@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Dane do logowania:</h2>
    <p><strong>Admin:</strong> e-mail: admin@microsoft.wsei.edu.pl hasło: admin123</p>
    <p><strong>Użytkownik:</strong> e-mail: user@microsoft.wsei.edu.pl, hasło: user123</p>
</div>